@use "../helpers/variables" as var;
@use "../helpers/mixins" as mixins;

.main-btn {
  border: none;
  background-color: var.$blueColor;
  color: #fff;
  padding: 5px 7px;
  border-radius: 5px;
  cursor: pointer;
}

.input {
  border: none;
  background-color: #eee;
  padding: 10px;
  border-radius: 4px;
}
.input:focus {
  outline: none;
}

.icon-switch {
  background-color: var.$blueAltColor;
  height: 30px;
  min-width: 70px;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  .switch {
    @include mixins.circle(25px);
    background-color: #fff;
    position: absolute;
    left: 42px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    @include mixins.flex;
    font-size: 18px;
    font-weight: bold;
    color: var.$blueAltColor;
    &.move {
      left: 2px;
      color: var.$grayColor;
    }
  }
}
