@use "../helpers/mixins" as mixins;
@use "../helpers/variables" as var;

* {
  margin: 0;
  padding: 0;
  @include mixins.prefix(box-sizing, border-box, webkit moz os);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: var.$blueAltColor;
  transition: 0.5s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var.$blueColor;
}
